body{
	&.single-product{
		.single_add_to_cart_button {
			cursor: pointer !important;
			opacity: 1 !important;			
		}
		.variations, .shop_attributes{
			position: absolute !important;
			top: -1000px !important;
			left: -1000px !important;
			opacity: 0;
		}
		.preco{
			min-height: 50px;

			&.kilo,&.unidade,&.cento{
				display: none;
			}

			p{
				color: $blue;
				font-weight: 500;
				margin-bottom: 0;
				text-align: left;

				span{
					color: $grey;
					font-size: 14pt;
				}
			}
			div{
				float: left;
			}
		}
		.price{
			display: none;
		}
	}	
}
